<section class="footer">
    <div class="container">
        <div class="row py-5 text-white">
            <div class="col-12 col-md-4">
                <h3>Sobre <span>GDLWEBCAMP</span></h3>
                <p class="text-justify pl-4 ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto magni dolore dolorem doloremque? Eos pariatur eaque, beatae ipsam quae veniam obcaecati hic quis molestias. Atque amet nisi necessitatibus neque nemo.</p>
            </div>
            <div class="col-12 col-md-4">
                <h3>Ultimos <span>Tweets</span></h3>
                <p class="text-justify pl-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, accusantium mollitia omnis ad eveniet quaerat eligendi. Necessitatibus repudiandae corporis voluptatem laborum facilis ut modi laboriosam eveniet! Vitae esse alias eum!</p>
            </div>
            <div class="col-12 col-md-4 ">
                <h3>Menú de <span>Navegación</span></h3>
                <a href="" class="d-block text-white text-decoration-none h6 pl-4">Conferencia</a>
                <a href="" class="d-block text-white text-decoration-none h6 pl-4">Calendario</a>
                <a href="" class="d-block text-white text-decoration-none h6 pl-4">Invitados</a>
                <a href="" class="d-block text-white text-decoration-none h6 pl-4">Reservaciones</a>
            </div>
        </div>
    </div>
</section>


<div class="my-footer-color">
    <div class="container">
        <div class="row py-2">
            <div class="col-12 text-center">
                <p class="text-white pt-2">Todos los derechos Reservados GDLWEBCAMP 2016</p>
            </div>
        </div>
    </div>
</div>