<header class="header img-fluid">
    <div class="container">
        <div class="row ">
            <div class="col-12 text-center h3 mt-3">
                <a href="#" class="fa fa-facebook text-white text-decoration-none"></a>
                <a href="#" class="fa fa-twitter text-white text-decoration-none ml-3"></a>
                <a href="#" class="fa fa-pinterest text-white text-decoration-none ml-3"></a>
                <a href="#" class="fa fa-youtube text-white text-decoration-none ml-3"></a>
            </div>
        </div>

        <div class="row text-center justify-content-around  mt-5 pt-2">
            <div class="col-4">
                <span class="text-white my-content-color"><i class="fa fa-calendar my-color mr-2"></i>10-12 DIC</span>
            </div>
            <div class="col-4">
                <span class="text-white my-content-color"><i class="fa fa-map-marker my-color mr-2"></i>LIMA - PERU</span>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-12 text-center">
                <h1 class="text-white font-weight-bold name-sitio">GDLWEBCAMP</h1>
                <p class="text-white">La mejor conferencia de <strong>diseño web</strong></p>
            </div>
        </div>
    </div>
</header>