<section class="my-main">
    <div class="container">
        <section class="row py-5">
            <div class="col-12 text-center">
                <h2 class="font-weight-bold">La mejor conferencia de diseño web en español</h2>
                <img src="../../../assets/img/separador.png" alt="">
                <p class="mt-3 h5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum deserunt, inventore ratione pariatur molestias sint maxime repudiandae aut? Laboriosam, eum magnam, delectus quo nesciunt officiis vitae nobis optio nostrum in fuga veniam
                </p>
            </div>
        </section>
    </div>
</section>

<section class="evento">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">

                <div class="py-5 px-5">
                    <h2 class="text-center font-weight-bold">Programa del Evento</h2>
                    <div class="row justify-content-center mb-2">
                        <div class="col-4">
                            <img src="../../../assets/img/separador.png" alt="" class="img-fluid">
                        </div>
                    </div>
                    <nav class="row justify-content-around my-menu pb-2 ">
                        <div class="col-3">
                            <a href="#talleres" class="text-body text-decoration-none"><span class="fa fa-code my-colors"></span>Talleres</a>
                        </div>
                        <div class="col-3">
                            <a href="#talleres" class="text-body text-decoration-none "><span class="fa fa-comment my-colors"></span>Talleres</a>
                        </div>
                        <div class="col-3">
                            <a href="#talleres" class="text-body text-decoration-none "><span class="fa fa-university my-colors"></span>Talleres</a>
                        </div>
                    </nav>

                    <div id="talleres" class="mt-4">
                        <div class="my-detalle-evento mb-3">
                            <h3 class="my-colors font-weight-bold mb-3">HTML5, CSS3 Y JavaScript</h3>
                            <p><i class="fa fa-clock-o my-colors mr-3"></i>14:00 hrs</p>
                            <p><i class="fa fa-calendar my-colors mr-3"></i>10 de Dic</p>
                            <p><i class="fa fa-user my-colors mr-4"></i>Jose Chutas Ramos</p>
                        </div>
                        <div class="my-detalle-evento">
                            <h3 class="font-weight-bold my-colors mb-3">Responsive web design</h3>
                            <p><i class="fa fa-clock-o my-colors mr-3"></i>10:00 hrs</p>
                            <p><i class="fa fa-calendar my-colors mr-3"></i>10 de Dic</p>
                            <p><i class="fa fa-user my-colors mr-4"></i>Jose Chutas Ramos</p>
                        </div>
                        <div class="row justify-content-end">
                            <div class="col-8 col-md-5">
                                <a href="" class="btn my-btn ">comprar</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


<section class="invitados">
    <div class="container">
        <div class="row py-5">
            <div class="col-12 text-center">
                <h2 class="font-weight-bold">Nuestros invitados </h2>
                <img src="../../../assets/img/separador.png" alt="">
            </div>
        </div>
        <div class="row pb-4">
            <div class="col-12 col-md-4">
                <div class="invitados-image">
                    <img src="../../../assets/img/invitado1.jpg" class="img-fluid mb-3" alt="">
                    <div class="invitados-name">
                        <p class="">Rafael Bautista</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="invitados-image">
                    <img src="../../../assets/img/invitado2.jpg" class="img-fluid mb-3" alt="">
                    <div class="invitados-name">
                        <p class="">Rafael Bautista</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="invitados-image">
                    <img src="../../../assets/img/invitado3.jpg" class="img-fluid mb-3" alt="">
                    <div class="invitados-name">
                        <p class="">Rafael Bautista</p>
                    </div>
                </div>
            </div>
        </div>
        <!--3 invitados-->
        <div class="row pb-5 ">
            <div class="col-12 col-md-4">
                <div class="invitados-image">
                    <img src="../../../assets/img/invitado4.jpg" class="img-fluid mb-3" alt="">
                    <div class="invitados-name">
                        <p class="">Rafael Bautista</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="invitados-image">
                    <img src="../../../assets/img/invitado5.jpg" class="img-fluid mb-3" alt="">
                    <div class="invitados-name">
                        <p class="">Rafael Bautista</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="invitados-image">
                    <img src="../../../assets/img/invitado6.jpg" class="img-fluid mb-3" alt="">
                    <div class="invitados-name">
                        <p class="">Rafael Bautista</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contadores">
    <div class="container">
        <div class="row justify-content-around text-center my-padding">
            <div class="col-6 col-md-2">
                <p>6</p>
                <p class="font-weight-bold">Invitados</p>
            </div>
            <div class="col-6 col-md-2">
                <p>15</p>
                <p class="font-weight-bold">Talleres</p>
            </div>
            <div class="col-6 col-md-2">
                <p>3</p>
                <p class="font-weight-bold">Dias</p>
            </div>
            <div class="col-6 col-md-2">
                <p>9</p>
                <p class="font-weight-bold">Conferencias</p>
            </div>
        </div>
    </div>
</section>

<section class="precios">
    <div class="container">
        <div class="row py-5">
            <div class="col-12 text-center">
                <h2 class="font-weight-bold">Precios </h2>
                <img src="../../../assets/img/separador.png" alt="">
            </div>
        </div>
        <div class="row justify-content-around text-center pb-5">
            <div class="col-12 col-md-4">
                <div class="card">
                    <div class="card-body my-4">
                        <h4 class="card-title">pase por un dia</h4>
                        <ul class="pr-5">
                            <li>$30</li>
                            <li><i class="fa fa-check"></i>Bocadillo gratis</li>
                            <li class="mt-4"><i class="fa fa-check"></i>Todas las conferencias</li>
                            <li class="mt-4"><i class="fa fa-check"></i>Todos los talleres</li>
                        </ul>
                        <a href="" class="btn my-outle-btn mt-4">comprar</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card">
                    <div class="card-body my-4">
                        <h4 class="card-title">Todos los dias</h4>
                        <ul class="pr-5">
                            <li>$50</li>
                            <li><i class="fa fa-check"></i>Bocadillo gratis</li>
                            <li class="mt-4"><i class="fa fa-check"></i>Todas las conferencias</li>
                            <li class="mt-4"><i class="fa fa-check"></i>Todos los talleres</li>
                        </ul>
                        <a href="" class="btn my-outle-btn mt-4 ">comprar</a>
                    </div>
                </div>

            </div>
            <div class="col-12 col-md-4">
                <div class="card">
                    <div class="card-body my-4">
                        <h4 class="card-title">Pase por 2 dias</h4>
                        <ul class="pr-5">
                            <li>$45</li>
                            <li><i class="fa fa-check"></i>Bocadillo gratis</li>
                            <li class="mt-4"><i class="fa fa-check"></i>Todas las conferencias</li>
                            <li class="mt-4"><i class="fa fa-check"></i>Todos los talleres</li>
                        </ul>
                        <a href="" class="btn my-outle-btn mt-4">comprar</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="mapa">
    <div class="row">
        <div class="col-12">

        </div>
    </div>
</section>


<section class="testimonios">
    <div class="container">
        <div class="row ">
            <div class="col-12 text-center">
                <h2 class="font-weight-bold">Testimonios </h2>
                <img src="../../../assets/img/separador.png" alt="">
            </div>
        </div>

        <div class="row pt-2 pb-5">
            <div class="col-12 col-md-4">
                <div class="card mt-3">
                    <div class="card-body my-4">
                        <div class="row">
                            <div class="col-1">
                                <i class="fa fa-quote-left"></i>
                            </div>
                            <div class="col-10">
                                <p class="my-testi-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <img class="img-fluid rounded-circle" src="../../../assets/img/testimonial.jpg" alt="Card image cap">
                            </div>
                            <div class="col-9">
                                <h6>Oswaldo aponte escobedo</h6>
                                <p>Diseñador en @prisma</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card mt-3">
                    <div class="card-body my-4">
                        <div class="row">
                            <div class="col-1">
                                <i class="fa fa-quote-left"></i>
                            </div>
                            <div class="col-10">
                                <p class="my-testi-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <img class="img-fluid rounded-circle" src="../../../assets/img/testimonial.jpg" alt="Card image cap">
                            </div>
                            <div class="col-9">
                                <h6>Oswaldo aponte escobedo</h6>
                                <p>Diseñador en @prisma</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card mt-3">
                    <div class="card-body my-4">
                        <div class="row">
                            <div class="col-1">
                                <i class="fa fa-quote-left"></i>
                            </div>
                            <div class="col-10">
                                <p class="my-testi-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <img class="img-fluid rounded-circle" src="../../../assets/img/testimonial.jpg" alt="Card image cap">
                            </div>
                            <div class="col-9">
                                <h6>Oswaldo aponte escobedo</h6>
                                <p>Diseñador en @prisma</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="registro">
    <div class="container">
        <div class="row pt-5">
            <div class="col-12 text-center">
                <div class="row pt-4 justify-content-md-center">
                    <div class="col-12 col-md-6">
                        <p class="text-white">registrate al newsletter</p>
                        <h5 class="text-white ">GDLWEBCAMP</h5>
                        <a href="" class="btn my-outle-btn mt-4">Registro</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>