<section class="my-main">
    <div class="container">
        <section class="row mt-5 mb-3">
            <div class="col-12 text-center">
                <h2 class="font-weight-bold">La mejor conferencia de diseño web en español</h2>
                <img src="../../../assets/img/separador.png" alt="">
                <p class="mt-3 h5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum deserunt, inventore ratione pariatur molestias sint maxime repudiandae aut? Laboriosam, eum magnam, delectus quo nesciunt officiis vitae nobis optio nostrum in fuga veniam
                </p>
            </div>
        </section>
    </div>
</section>

<section class="container-fluid">
    <div class="row my-video-contenido">
        <div class="col-12">

            <div class="row ">
                <div class="col-6">
                    <div class="py-5 px-5">
                        <h2 class="text-center font-weight-bold">Programa del Evento</h2>
                        <div class="row justify-content-center mb-2">
                            <div class="col-4">
                                <img src="../../../assets/img/separador.png" alt="" class="">
                            </div>
                        </div>

                        <nav class="row justify-content-around my-menu pb-2 ">
                            <div class="col-3">
                                <a href="#talleres" class="text-body text-decoration-none"><span class="fa fa-code my-colors"></span>Talleres</a>
                            </div>
                            <div class="col-3">
                                <a href="#talleres" class="text-body text-decoration-none "><span class="fa fa-comment my-colors"></span>Talleres</a>
                            </div>
                            <div class="col-3">
                                <a href="#talleres" class="text-body text-decoration-none "><span class="fa fa-university my-colors"></span>Talleres</a>
                            </div>
                        </nav>

                        <div id="talleres" class="mt-4">
                            <div class="my-detalle-evento mb-3">
                                <h3 class="my-colors font-weight-bold mb-3">HTML5, CSS3 Y JavaScript</h3>
                                <p><i class="fa fa-clock-o my-colors mr-3"></i>14:00 hrs</p>
                                <p><i class="fa fa-calendar my-colors mr-3"></i>10 de Dic</p>
                                <p><i class="fa fa-user my-colors mr-4"></i>Jose Chutas Ramos</p>
                            </div>
                            <div class="my-detalle-evento">
                                <h3 class="font-weight-bold my-colors mb-3">Responsive web design</h3>
                                <p><i class="fa fa-clock-o my-colors mr-3"></i>10:00 hrs</p>
                                <p><i class="fa fa-calendar my-colors mr-3"></i>10 de Dic</p>
                                <p><i class="fa fa-user my-colors mr-4"></i>Jose Chutas Ramos</p>
                            </div>
                            <div class="row justify-content-end">
                                <div class="col-8 col-md-5">
                                    <a href="" class="btn my-btn ">Ver todos</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


<!--
<div class="row my-video-contenido bg-danger">
        <div class="col-6">
            <div class="py-5 px-5">
                <h2 class="text-center font-weight-bold">Programa del Evento</h2>
                <div class="row justify-content-center mb-2">
                    <div class="col-4">
                        <img src="../../../assets/img/separador.png" alt="" class="">
                    </div>
                </div>
                <nav class="row justify-content-around my-menu pb-2 ">
                    <div class="col-3">
                        <a href="#talleres" class="text-body text-decoration-none"><span class="fa fa-code my-colors"></span>Talleres</a>
                    </div>
                    <div class="col-3">
                        <a href="#talleres" class="text-body text-decoration-none "><span class="fa fa-comment my-colors"></span>Talleres</a>
                    </div>
                    <div class="col-3">
                        <a href="#talleres" class="text-body text-decoration-none "><span class="fa fa-university my-colors"></span>Talleres</a>
                    </div>
                </nav>

                <div id="talleres" class="mt-4">
                    <div class="my-detalle-evento mb-3">
                        <h3 class="my-colors font-weight-bold mb-3">HTML5, CSS3 Y JavaScript</h3>
                        <p><i class="fa fa-clock-o my-colors mr-3"></i>14:00 hrs</p>
                        <p><i class="fa fa-calendar my-colors mr-3"></i>10 de Dic</p>
                        <p><i class="fa fa-user my-colors mr-4"></i>Jose Chutas Ramos</p>
                    </div>
                    <div class="my-detalle-evento">
                        <h3 class="font-weight-bold my-colors mb-3">Responsive web design</h3>
                        <p><i class="fa fa-clock-o my-colors mr-3"></i>10:00 hrs</p>
                        <p><i class="fa fa-calendar my-colors mr-3"></i>10 de Dic</p>
                        <p><i class="fa fa-user my-colors mr-4"></i>Jose Chutas Ramos</p>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col-8 col-md-5">
                            <a href="" class="btn my-btn ">Ver todos</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

-->

<!--

            <div class="row my-video">
                <div class="col-12">
                    <div class="">
                        <video autoplay loop poster="../../../assets/img/bg-talleres.jpg" class="img-fluid">
                      <source src="../../../assets/img/video/video.mp4" type="video/mp4">
                      <source src="../../../assets/img/video/video.webm" type="video/webm">
                      <source src="../../../assets/img/video/video.ogv" type="video/ogg">
                    </video>
                    </div>
                </div>
            </div>


-->



<!--
<section class="invitados">
    <div class="container">
        <div class="row my-4 ">
            <div class="col-12 text-center">
                <h2 class="font-weight-bold">Nuestros Invitados</h2>
                <img src="../../../assets/img/separador.png" class="mb-3" alt="">
                <div class="row mb-5">
                    <div class="col-4">
                        <img src="../../../assets/img/invitado1.jpg" class="img-fluid invitados-image" alt="">
                        <p class="invitados-name">Rafael Bautista</p>
                    </div>
                    <div class="col-4">
                        <img src="../../../assets/img/invitado2.jpg" class="img-fluid invitados-image" alt="">
                        <p class="invitados-name">Shari herrera</p>
                    </div>
                    <div class="col-4">
                        <img src="../../../assets/img/invitado3.jpg" class="img-fluid invitados-image" alt="">
                        <p class="invitados-name">Gregorio Sanchez</p>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-4">
                        <img src="../../../assets/img/invitado4.jpg" class="img-fluid invitados-image" alt="">
                        <p class="invitados-name">Susana Rivera</p>
                    </div>
                    <div class="col-4">
                        <img src="../../../assets/img/invitado5.jpg" class="img-fluid invitados-image" alt="">
                        <p class="invitados-name">Jose Ramos</p>
                    </div>
                    <div class="col-4">
                        <img src="../../../assets/img/invitado6.jpg" class="img-fluid invitados-image" alt="">
                        <p class="invitados-name">Susan Sanchez</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

-->