<section class="registro">
    <div class="container">
        <form>
            <div class="row pt-5">
                <div class="col-12 text-center">
                    <h2 class="font-weight-bold">Registro de usuarios</h2>
                    <img src="../../../assets/img/separador.png" alt="">
                </div>
            </div>

            <div class="row bg-white mt-4 pt-4 pb-2">
                <div class="col-12 col-md-4">
                    <div class="form-group">
                        <input type="text" name="name" placeholder="Ingrese su nombre" class="form-control" autofocus>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="form-group">
                        <input type="text" name="las-name" placeholder="Ingrese su apellido" class="form-control" autofocus>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="form-group">
                        <input type="text" name="email" placeholder="Ingrese su email" class="form-control" autofocus>
                    </div>
                </div>

            </div>

            <div class="row pt-5">
                <div class="col-12 text-center">
                    <h3 class="font-weight-bold ">Elige el número de boletos</h3>
                </div>
            </div>

            <div class="row justify-content-around text-center pb-5">
                <div class="col-12 col-md-4">
                    <div class="card mt-5">
                        <div class="card-body my-4">
                            <h4 class="card-title">pase por un dia</h4>
                            <ul class="pr-5 list-unstyled">
                                <li>$30</li>
                                <li><i class="fa fa-check"></i>Bocadillo gratis</li>
                                <li class="mt-4"><i class="fa fa-check"></i>Todas las conferencias</li>
                                <li class="mt-4"><i class="fa fa-check"></i>Todos los talleres</li>
                            </ul>
                            <input type="number">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card mt-5">
                        <div class="card-body my-4">
                            <h4 class="card-title">Todos los dias</h4>
                            <ul class="pr-5 list-unstyled">
                                <li>$50</li>
                                <li><i class="fa fa-check"></i>Bocadillo gratis</li>
                                <li class="mt-4"><i class="fa fa-check"></i>Todas las conferencias</li>
                                <li class="mt-4"><i class="fa fa-check"></i>Todos los talleres</li>
                            </ul>
                            <input type="number">
                        </div>
                    </div>

                </div>
                <div class="col-12 col-md-4">
                    <div class="card mt-5">
                        <div class="card-body my-4">
                            <h4 class="card-title">Pase por 2 dias</h4>
                            <ul class="pr-5 list-unstyled">
                                <li>$45</li>
                                <li><i class="fa fa-check"></i>Bocadillo gratis</li>
                                <li class="mt-4"><i class="fa fa-check"></i>Todas las conferencias</li>
                                <li class="mt-4"><i class="fa fa-check"></i>Todos los talleres</li>
                            </ul>
                            <input type="number">
                        </div>
                    </div>

                </div>
            </div>

            <div class="row py-3">
                <div class="col-12 text-center">
                    <h3 class="font-weight-bold ">Elige tus talleres</h3>
                </div>
            </div>

            <div class="row bg-white py-5">
                <div class="col-12">
                    <h4 class="text-center mb-3">Viernes</h4>
                    <hr>
                    <div class="row text-justify">
                        <div class="col-12 col-md-4">
                            <h6 class="">Talleres: </h6>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1"><time>10:00</time> Responsive Web Design</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck2">
                                <label class="custom-control-label" for="customCheck2"><time>12:00</time> Flexbox</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck3">
                                <label class="custom-control-label" for="customCheck3"><time>14:00</time> HTML5 y CSS3</label>
                            </div>

                        </div>
                        <div class="col-12 col-md-4">
                            <h6 class="">Conferencias: </h6>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck5">
                                <label class="custom-control-label" for="customCheck5"><time>17:00</time> Tecnologías del Futuro</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck6">
                                <label class="custom-control-label" for="customCheck6"><time>19:00</time> Seguridad en la Web</label>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <h6 class="">Seminarios: </h6>
                            <div class="custom-control custom-checkbox ">
                                <input type="checkbox" class="custom-control-input" id="customCheck7">
                                <label class="custom-control-label" for="customCheck7"><time>10:00</time> Diseño UI y UX para móviles</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <h4 class="text-center my-3">Sabado</h4>
                    <hr>
                    <div class="row text-justify">
                        <div class="col-12 col-md-4">
                            <h6>Talleres: </h6>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck10">
                                <label class="custom-control-label" for="customCheck10"><time>10:00</time> AngularJS</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck11">
                                <label class="custom-control-label" for="customCheck11"><time>12:00</time> PHP y MySQL</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck12">
                                <label class="custom-control-label" for="customCheck12"><time>14:00</time> JavaScript Avanzado</label>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <h6>Conferencias: </h6>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck13">
                                <label class="custom-control-label" for="customCheck13"><time>10:00</time> Como crear una tienda online</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck14">
                                <label class="custom-control-label" for="customCheck14"><time>17:00</time> Los mejores lugares para encontrar trabajo</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck15">
                                <label class="custom-control-label" for="customCheck15"><time>19:00</time> Pasos para crear un negocio rentable</label>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <h6>Seminarios: </h6>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck16">
                                <label class="custom-control-label" for="customCheck16"><time>10:00</time> Aprende a Programar en una mañana</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck17">
                                <label class="custom-control-label" for="customCheck17"><time>17:00</time> Diseño UI y UX para móviles</label>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <h4 class="text-center my-3">Domingo</h4>
                    <hr>
                    <div class="row text-justify">
                        <div class="col-12 col-md-4">
                            <h6>Talleres: </h6>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck19">
                                <label class="custom-control-label" for="customCheck19"><time>10:00</time> Laravel</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck20">
                                <label class="custom-control-label" for="customCheck20"><time>12:00</time> Crea tu propia API</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck21">
                                <label class="custom-control-label" for="customCheck21"><time>14:00</time> JavaScript y jQuery</label>
                            </div>

                        </div>
                        <div class="col-12 col-md-4">
                            <h6>Conferencias: </h6>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck22">
                                <label class="custom-control-label" for="customCheck22"><time>10:00</time> Como hacer Marketing en línea</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck23">
                                <label class="custom-control-label" for="customCheck23"><time>17:00</time> ¿Con que lenguaje debo empezar?</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck24">
                                <label class="custom-control-label" for="customCheck24"><time>19:00</time> Frameworks y librerias Open Source</label>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <h6>Seminarios: </h6>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck25">
                                <label class="custom-control-label" for="customCheck25"><time>14:00</time> Creando una App en Android en una tarde</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck26">
                                <label class="custom-control-label" for="customCheck26"><time>17:00</time> Creando una App en iOS en una tarde</label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>





            <div class="row py-5">
                <div class="col-12 text-center">
                    <h3 class="font-weight-bold ">Pago y extras</h3>
                </div>
            </div>


            <div class="row bg-white py-5">
                <div class="col-12 col-md-6">
                    <div class="row text-center justify-content-center">
                        <div class="col-12 ">
                            <p>Camisa del evento $10 (promocion 7% dto.)</p>
                            <input type="number" class="my-3">

                        </div>
                        <div class="col-12">

                            <p>Paquete de 10 etiquetas $2 (HTML,CSS3,Javascript,Chrome)</p>
                            <input type="number" class="my-3">

                        </div>

                        <div class="col-12 col-md-6">
                            <p>Selecciona un regalo</p>
                            <select class="custom-select">
                            <option disabled>-- Selecciona --</option>
                            <option value="camisa">Camisa</option>
                            <option value="casaca">casaca</option>
                            <option value="zapato">zapato</option>
                          </select>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="row text-left mt-3">
                        <div class="col-12">
                            <p>resumen</p>
                            <div id="resumen">

                            </div>

                        </div>
                        <div class="col-12">
                            <p>Total: </p>
                            <div id="total"></div>
                        </div>
                        <div class="col-12">
                            <input type="submit" class="btn my-btn" value="Pagar">
                        </div>
                    </div>
                </div>

            </div>

        </form>
    </div>
</section>