<section class="my-invitado">
    <div class="container">
        <div class="row py-5">
            <div class="col-12 text-center">
                <h2 class="font-weight-bold">Nuestros invitados </h2>
                <img src="../../../assets/img/separador.png" alt="">
            </div>
        </div>
        <div class="row pb-4">
            <div class="col-12 col-md-4">
                <div class="invitados-image">
                    <img src="../../../assets/img/invitado1.jpg" class="img-fluid mb-3" alt="">
                    <div class="invitados-name">
                        <p class="">Rafael Bautista</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="invitados-image">
                    <img src="../../../assets/img/invitado2.jpg" class="img-fluid mb-3" alt="">
                    <div class="invitados-name">
                        <p class="">Rafael Bautista</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="invitados-image">
                    <img src="../../../assets/img/invitado3.jpg" class="img-fluid mb-3" alt="">
                    <div class="invitados-name">
                        <p class="">Rafael Bautista</p>
                    </div>
                </div>
            </div>
        </div>
        <!--3 invitados-->
        <div class="row pb-5 ">
            <div class="col-12 col-md-4">
                <div class="invitados-image">
                    <img src="../../../assets/img/invitado4.jpg" class="img-fluid mb-3" alt="">
                    <div class="invitados-name">
                        <p class="">Rafael Bautista</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="invitados-image">
                    <img src="../../../assets/img/invitado5.jpg" class="img-fluid mb-3" alt="">
                    <div class="invitados-name">
                        <p class="">Rafael Bautista</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="invitados-image">
                    <img src="../../../assets/img/invitado6.jpg" class="img-fluid mb-3" alt="">
                    <div class="invitados-name">
                        <p class="">Rafael Bautista</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>