/* section mejor conferencia */

.my-conferencia {
    background-color: #F2F2F2;
}

h2 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

h3 {
    font-family: 'PT Sans', sans-serif;
}