<section class="my-conferencia">
    <div class="container">
        <div class="row py-5">
            <div class="col-12 text-center">
                <h2 class="font-weight-bold text-center">Proceso de Desarrollo Web</h2>
                <img src="../../../assets/img/separador.png" alt="">
                <p class="mt-3 h5 text-justify text-md-center h6">Explicacion del proceso que aplicamos para la creación de sitios webs garantiza el éxito de tu proyecto. Así logramos una pagina web con un diseño profesional y con una correcta experiencia de navegación y usabilidad que te diferenciara
                    de tu competencia.</p>
            </div>
        </div>
    </div>
</section>

<section class="my-conferencia">
    <div class="container">
        <div class="row pb-5">
            <div class="col-12 text-center">
                <h2 class="font-weight-bold text-center">Galería de fotos</h2>
                <img src="../../../assets/img/separador.png" alt="">
            </div>
        </div>

        <div class="row pb-4">
            <div class="col-12 col-md-3">
                <div class="invitados-image">
                    <img src="../../../assets/img/galeria/14.jpg" class="img-fluid mb-3" alt="">
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="invitados-image">
                    <img src="../../../assets/img/galeria/02.jpg" class="img-fluid mb-3" alt="">
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="invitados-image">
                    <img src="../../../assets/img/galeria/13.jpg" class="img-fluid mb-3" alt="">
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="invitados-image">
                    <img src="../../../assets/img/galeria/04.jpg" class="img-fluid mb-3" alt="">
                </div>
            </div>
        </div>
        <!--primeros 4-->
        <div class="row pb-4">
            <div class="col-12 col-md-3">
                <div class="invitados-image">
                    <img src="../../../assets/img/galeria/05.jpg" class="img-fluid mb-3" alt="">
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="invitados-image">
                    <img src="../../../assets/img/galeria/06.jpg" class="img-fluid mb-3" alt="">
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="invitados-image">
                    <img src="../../../assets/img/galeria/07.jpg" class="img-fluid mb-3" alt="">
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="invitados-image">
                    <img src="../../../assets/img/galeria/08.jpg" class="img-fluid mb-3" alt="">
                </div>
            </div>
        </div>
        <!--primeros 4-->
        <div class="row pb-4">
            <div class="col-12 col-md-3">
                <div class="invitados-image">
                    <img src="../../../assets/img/galeria/09.jpg" class="img-fluid mb-3" alt="">
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="invitados-image">
                    <img src="../../../assets/img/galeria/10.jpg" class="img-fluid mb-3" alt="">
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="invitados-image">
                    <img src="../../../assets/img/galeria/16.jpg" class="img-fluid mb-3" alt="">
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="invitados-image">
                    <img src="../../../assets/img/galeria/12.jpg" class="img-fluid mb-3" alt="">
                </div>
            </div>
        </div>
        <!--primeros 4-->

    </div>
</section>